<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92154795041-sth69gc9vbcbdteqkmp0tkunfk64r17r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92154795041-sth69gc9vbcbdteqkmp0tkunfk64r17r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>92154795041-ncotsm43b3egcal3d25v5c9fcs6otpj6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGjzlurpQibnTtL--esart-5CR7COGjtI</string>
	<key>GCM_SENDER_ID</key>
	<string>92154795041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter2</string>
	<key>PROJECT_ID</key>
	<string>deliver-eat-390603</string>
	<key>STORAGE_BUCKET</key>
	<string>deliver-eat-390603.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92154795041:ios:f75a421dcc7ab1a3ae7f60</string>
</dict>
</plist>